body {
/*     max-width: 860px; */
/*     margin: auto; */
    background-color: #c0c0c0;
}
table {
/*     border-collapse: collapse; */
/*     position: relative; */
/*     overflow: auto; */
/*     max-height: 300px; */
/*      display: block; */
}
.history {
        overflow:auto;
        max-height:300px;
        display:block;
}

/*td {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}*/
label {
  /*  display: inline-block;
    cursor: pointer;    
    border: 1px solid black;
    width: 98px;
    padding: 15px 0px;
    margin: 0px;
    text-align: center;
    background-color: #eeeeee;*/
}
input[type="checkbox"] {
   /* display: none;*/
}
input[type="submit"] {
/*     margin: 0px; */
/*     padding: 10px; */
/*     background-color: #eeeeee; */
}
input[type="submit"] {
/*     margin: 0px; */
/*     padding: 10px; */
/*     background-color: #ffb6c1; */
}
input[type="text"] {
/*     margin: 0px; */
   /* padding: 10px;
    background-color: #eeeeee;
    display: inline;
    width: 300px;*/
}
input[type="radio"] {
    /*display: none;*/
}
.winner input[type="checkbox"]:checked+label {
    /*background: #98fb98;*/
}
.loser input[type="checkbox"]:checked+label {
 /*   background: #f08080;*/
}
div.winner {/*
    display: inline-block;
    max-width: 400px;
    position: relative;*/
}
div.loser {/*
    max-width: 400px;
    float: right;
    position: relative;
    display: inline-block;*/
}
select {/*
    text-align-last: center;
    margin: 0px;
    padding: 5px;
    font-size: 1.5em;
    background-color: #eeeeee;*/
}
.winner select {
    /*border: 1px solid #98fb98;
    width: 400px;
    margin: 20px 0px;*/
}
.loser select {/*
    border: 1px solid #f08080;
    width: 400px;
    margin: 20px 0px;*/
}
.results {
   /* height: 400px;
    max-height: 400px;*/
}
.leaderboard {
   /* width: 250px;
    float: left;
    max-height: 400px;*/
   
}

.leaderboard tr:nth-child(2) {
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.leaderboard tr:nth-child(3) {
    background: rgb(119,119,119);
    background: linear-gradient(to right, rgba(119,119,119,1), rgba(237,237,237,1), rgba(157,157,157,1), rgba(227,227,227,1), rgba(119,119,119,1));
}


.leaderboard tr:nth-child(4){
  background: rgb(143,68,0);
background: linear-gradient(to right, rgba(194,94,3,1), rgba(222,155,94,1), rgba(194,94,3,1), rgba(222,155,94,1), rgba(143,68,0,1));    
}


.matches {
   /* float: right;
    width: 600px;*/
}
.wide {
  /*  display: block;
    width: 100%;*/
}
.recalculate {
   /* float: right;*/
}
