{# officepong/templates/home.html #}
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>OfficePong</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for("static", filename="style.css") }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
</head>
<body>
<div class="container">
<div class="row">
   
    <div class="col-4">
    <h3>Leaderboard</h3>
    <table class="table table-sm">
    <tr>
    <th>Name</th>
    <th>Elo</th>
    <th align="right">Games</th>
    </tr>
    {% for elo, name, games in players if games >= 3 %}
    <tr>
    <td>{{name}}</td>
    <td align="right">{{elo|int}}</td>
    <td align="right">{{games|int}}</td>
    </tr>
    {% endfor %}
    </table>
    </div>
    
     <div class="col-8">
    <h3>Match History</h3>
    <table class="table table-hover table-sm table-striped">
    <tr>
    <th>Date</th>
    <th>Won</th>
    <th>Lost</th>
    <th>Score</th>
    <th>Act.</th>
    <th>Exp.</th>
    <th>&Delta;</th>
    </tr>
    {% for match in matches[::-1] %}
    <tr>
    <td>{{convert_timestamp(match.timestamp)}}</td>
    <td>{{match.winners}}</td>
    <td>{{match.losers}}</td>
    <td>{{match.win_score}} : {{match.lose_score}}</td>
    <td>{{'%i%%' % (100 * (match.actual|float))}}</td>
    <td>{{'%i%%' % (100 * (match.expected|float))}}</td>
    <td align="right">{{'%.1f' % (match.delta|float)}}</td>
    <!--<td> {{match.timestamp}} </td>-->
    <td>
        <form action="{{ url_for("delete") }}" method="post">
            <input type="hidden" name="timestampform" value="{{ match["timestamp"] }}"/>
            <button type="button" class="btn btn-outline-danger btn-sm">delete</button>
        </form>
    </td>
    </tr>
    {% endfor %}
    </table>
    </div>
    
</div>
<hr>


<form action="{{ url_for("add_match") }}" method="post">

<div class="row">
    <div class="col">
    <h3>Winner</h3>
     
    {% for elo, name, _ in players %}<input type="checkbox" class="btn-check" value="{{name}}" name="winner" id="win_{{name}}"/><label class="btn btn-outline-success" for="win_{{name}}">{{name}}</label>{% endfor %}
    <br>
    <select class="form-select" name="win_score">
                            {% for n in range(33) %}
                                {% if n == 11 %}
                                    <option value="{{n}}" selected>{{n}}</option>
                                {% else %}
                                    <option value="{{n}}">{{n}}</option>
                                {% endif %}
                            {% endfor %}
    </select>
    <br>
    </div>

    <div class="col">
    <h3>Loser</h3>
    {% for elo, name, _ in players %}<input type="checkbox" class="btn-check" value="{{name}}" name="loser" id="lose_{{name}}"/><label class="btn btn-outline-danger" for="lose_{{name}}">{{name}}</label>{% endfor %}
    <center>
    <select class="lose_score form-select" name="lose_score">
							{% for n in range(33) %}
								{% if n == 0 %}
									<option value="{{n}}" selected>{{n}}</option>
								{% else %}
									<option value="{{n}}">{{n}}</option>
								{% endif %}
							{% endfor %}
    </select>
    </center>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-grid gap-2">
            <input type="submit" value="Add Match" class="wide btn btn-primary">
        </div>
    </div>
</div>

</form>



<hr>
<div class="row">

<div class="col">
<form class="row g-2" action="{{ url_for("register") }}" method="post">
  <div class="col-auto">
    <input class="form-control" type="text" name="name">
    </div>
      <div class="col-auto">
    <input type="submit" value="Register" class="btn btn-secondary">
    </div>
</form>
</div>

<div class="col">
<div class="recalculate float-end">
    <form action="{{ url_for("recalculate") }}" method="post">
    <input type="submit" value="Recalculate" class="btn btn-secondary">
    </form>
</div>
</div>


</div>

<h3>Played games</h3>
<canvas id="chart" width="400" height="200"></canvas>

<script>

    // get bar chart canvas
    var mychart = document.getElementById("chart").getContext("2d");

    steps = 10
    //max = {{max}}
    max = 20

    // draw bar chart
    new Chart(mychart, {
    type: 'bar',
        data: {
        labels: [{% for day in dayslist %}
                    "{{convert_timestamp_day(day)}}",
            {% endfor %}],
    datasets: [{
        data: [{% for count in countlist %}
                    "{{count}}", 
                {% endfor %}],
                label: "played games",
        backgroundColor: 'rgba(151,187,205,1)',
        borderColor: 'rgba(151,187,205,1)',
        pointBackgroundColor: 'rgba(151,187,205,1)'
    }]
},
options: {
    scales: {
        yAxes: [{
            ticks: {
            beginAtZero: true,
            stepSize: 10
            }
        }]
    }
}
});
    

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</div>
</body>
</html>
