{# officepong/templates/home.html #}
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>OfficePong</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for("static", filename="bootstrap.min.css") }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for("static", filename="style.css") }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
</head>
<body>
<div class="container">
    
<div class="row pt-3 row-eq-height">
   
    <div class="col">
    <h3>Leaderboard</h3>
    <table class="table table-sm leaderboard">
    <tr>
    <th>Name</th>
    <th>Elo</th>
    <th>Games</th>
    </tr>
    {% for elo, name, games in players if games >= 3 %}
    <tr>
    <td>{{name}}</td>
    <td>{{elo|int}}</td>
    <td>{{games|int}}</td>
    </tr>
    {% endfor %}
    </table>
    </div>
    
     <div class="col" style="overflow-y:auto;">
    <h3 class="">Match History</h3>
    <div class="history">
    <table class="table table-hover table-sm table-striped">
    <tbody class="">
    <tr>
    <th>Date</th>
    <th>Won</th>
    <th>Lost</th>
    <th>Score</th>
    <th>Act.</th>
    <th>Exp.</th>
    <th>&Delta;</th>
    </tr>
    {% for match in matches[::-1] %}
    <tr>
    <td>{{convert_timestamp(match.timestamp)}}</td>
    <td>{{match.winners}}</td>
    <td>{{match.losers}}</td>
    <td>{{match.win_score}} : {{match.lose_score}}</td>
    <td>{{'%i%%' % (100 * (match.actual|float))}}</td>
    <td>{{'%i%%' % (100 * (match.expected|float))}}</td>
    <td>{{'%.1f' % (match.delta|float)}}</td>
    <!--<td> {{match.timestamp}} </td>-->
    <td>
        <form action="{{ url_for("delete") }}" method="post">
            <input type="hidden" name="timestampform" value="{{ match["timestamp"] }}"/>
                <input type="submit" value="delete" class="btn btn-outline-secondary btn-sm">

        </form>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    
</div>
<hr>



<form action="{{ url_for("add_match") }}" method="post">

<div class="row">
    <div class="col">
    <h3>Winner</h3>
    {% for elo, name, _ in players %}<input type="checkbox" class="btn-check" value="{{name}}" name="winner" id="win_{{name}}"/><label class="btn btn-outline-success" for="win_{{name}}">{{name}}</label>{% endfor %}
    
    <select class="mt-2 form-select" name="win_score">
                            {% for n in range(33) %}
                                {% if n == 11 %}
                                    <option value="{{n}}" selected>{{n}}</option>
                                {% else %}
                                    <option value="{{n}}">{{n}}</option>
                                {% endif %}
                            {% endfor %}
    </select>
    

    
    <br>
    </div>

    <div class="col">
    <h3>Loser</h3>
    {% for elo, name, _ in players %}<input type="checkbox" class="btn-check" value="{{name}}" name="loser" id="lose_{{name}}"/><label class="btn btn-outline-danger" for="lose_{{name}}">{{name}}</label>{% endfor %}
    <center>
    <select class="mt-2 lose_score form-select" name="lose_score">
							{% for n in range(33) %}
								{% if n == 0 %}
									<option value="{{n}}" selected>{{n}}</option>
								{% else %}
									<option value="{{n}}">{{n}}</option>
								{% endif %}
							{% endfor %}
    </select>
    </center>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-grid gap-2">
            <input type="submit" value="Add Match" class="wide btn btn-primary">
        </div>
    </div>
</div>

</form>



<hr>
<div class="row">

<div class="col">
<form class="row g-2" action="{{ url_for("register") }}" method="post">
  <div class="col-auto">
    <input class="form-control" type="text" name="name">
    </div>
      <div class="col-auto">
    <input type="submit" value="Register" class="btn btn-secondary">
    </div>
</form>
</div>

<div class="col">
<div class="recalculate float-end">
    <form action="{{ url_for("recalculate") }}" method="post">
    <input type="submit" value="Recalculate" class="btn btn-secondary">
    </form>
</div>
</div>


</div>

<hr>

<canvas id="chart" width="400" height="50"></canvas>


<canvas id="linechart" width="400" height="200"></canvas>

{% if old_players%}
<div class="row pt-3">
	<div class="col">
<h5 class="text-center text-secondary">{{old_players[0][0]}} should play against {{old_players[-1][0]}}</h5>
<h5 class="text-center text-secondary">{{ convert_timestamp_day(old_players[0][1]) }} and {{ convert_timestamp_day(old_players[-1][1]) }}</h5>

</div>
</div>
{% endif %}

<script>

    // get bar chart canvas
    var mychart = document.getElementById("chart").getContext("2d");

    steps = 10
    //max = {{max}}
    max = 20

    // draw bar chart
    new Chart(mychart, {
    type: 'bar',
        data: {
        labels: [{% for day in dayslist %}
                    "{{convert_timestamp_day(day)}}",
            {% endfor %}],
    datasets: [{
        data: [{% for count in countlist %}
                    "{{count}}", 
                {% endfor %}],
                label: "played games",
        backgroundColor: 'rgba(108,117,125,1)',
        borderColor: 'rgba(108,117,125,1)',
        pointBackgroundColor: 'rgba(108,117,125,1)'
    }]
},
options: {
    scales: {
        yAxes: [{
            ticks: {
            beginAtZero: true,
            stepSize: 10
            }
        }]
    }
}
});
    </script>
    
    <script>

    var randomColorGenerator = function () { 
    return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
    };
    
    var stringToColour = function(str) {
  var hash = 0;
  for (var i = 0; i < str.length; i++) {
    hash = str.charCodeAt(i) + ((hash << 5) - hash);
  }
  var colour = '#';
  for (var i = 0; i < 3; i++) {
    var value = (hash >> (i * 8)) & 0xFF;
    colour += ('00' + value.toString(16)).substr(-2);
  }
  return colour;
}

function colorByHashCode(value) {
    return value.getHashCode().intToHSL();
}
String.prototype.getHashCode = function() {
    var hash = 0;
    if (this.length == 0) return hash;
    for (var i = 0; i < this.length; i++) {
        hash = this.charCodeAt(i) + ((hash << 5) - hash);
        hash = hash & hash; // Convert to 32bit integer
    }
    return hash;
};
Number.prototype.intToHSL = function() {
    var shortened = this % 360;
    return "hsl(" + shortened + ",50%,50%)";
};

const colours = ["#000000","#00FF00","#0000FF","#FF0000","#01FFFE","#FFA6FE","#FFDB66","#006401","#010067","#95003A","#007DB5","#FF00F6","#FFEEE8","#774D00","#90FB92","#0076FF","#D5FF00","#FF937E","#6A826C","#FF029D","#FE8900","#7A4782","#7E2DD2","#85A900","#FF0056","#A42400","#00AE7E","#683D3B","#BDC6FF","#263400","#BDD393","#00B917","#9E008E","#001544","#C28C9F","#FF74A3","#01D0FF","#004754","#E56FFE","#788231","#0E4CA1","#91D0CB","#BE9970","#968AE8","#BB8800","#43002C","#DEFF74","#00FFC6","#FFE502","#620E00","#008F9C","#98FF52","#7544B1","#B500FF","#00FF78","#FF6E41","#005F39","#6B6882","#5FAD4E","#A75740","#A5FFD2","#FFB167","#009BFF","#E85EBE"];


    // get bar chart canvas
    var mychart = document.getElementById("linechart").getContext("2d");

    steps = 10
    //max = {{max}}
    max = 20

    // draw line chart
    new Chart(mychart, {
    type: 'line',
        data: {
        labels: [{% for day in dayslist %}
                    "{{convert_timestamp_day(day)}}",
            {% endfor %}],
    datasets: [
    {% for name, score in playersdict.items() %}
    
    {
      label: "{{name}}",
      data: [
      {% for score in playersdict[name]['list'] %}
      "{{score}}",
      
      {% endfor %}
      
      ],
        fill: false,
        //borderColor: 'rgb(75, 192, 192)',
        //borderColor: colorByHashCode("{{name}}"),
        //backgroundColor: colorByHashCode("{{name}}"),
        borderColor: colours["{{loop.index}}"],
        backgroundColor: colours["{{loop.index}}"],
        tension: 0.1
    },
    {% endfor %}
    //{
      //label: 'NAME',
      //data: [800,2300,4000,5400,2999],
          //fill: false,
    //borderColor: 'rgb(75, 192, 192)',
    //tension: 0.1
    //},
  ]
},

options: {
            legend: {
                position: "bottom",
                align: "center"
        }
}
});
    </script>
    
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>



</div>
</body>
</html>
